@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 10px 160px;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 1px 12px #E1E1DF; */
    box-shadow: 0 0 10px 1px #E1E1DF;
}

.logo {
    color: #130F40;
    font-size: 1.5rem;
    font-weight: 600;

}

.fa-search,
.fa-shopping-cart,
.fa-user {
    font-weight: 800;
    background-color: #EEEEEE;
    color: #130F40;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.fa-search:hover,
.fa-shopping-cart:hover,
.fa-user:hover {
    background-color: #FF7800;
}

.nav-links {
    display: flex;
    column-gap: 3px;
}

.banner {
    box-sizing: border-box;
    width: 100vw;
    background-image: url('images/banner-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    height: 28.25rem;
}

.content {
    margin: 0 auto;
    text-align: center;
    padding-top: 165px;
}

.heading {
    color: #130F40;
    font-weight: 600;
    font-size: 2rem;
}

.top-heading {
    color: #130F40;
    font-weight: 600;
    font-size: 1.75rem;
    padding-bottom: 10px;
}

.orange-text {
    color: #FF7800;

}

.sub-head {
    color: #717371;
    max-width: 1140px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}

.transparent-btn {
    margin-top: 20px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #130F40;
    padding: 10px 30px;
    font-size: 1rem;
}

.transparent-btn:hover {
    background-color: #FF7800;
    color: #fff;
    transition: all ease;
}

.section-two {
    text-align: center;
    margin-top: 25px
}

.styled {
    background-color: #FF7800;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.features-section {
    display: flex;
    column-gap: 15px;
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.second-img {
    height: 107.65px;
    width: 70%;
}

.features-section .heading {
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 15px;
}

.features-section .bg-white {
    background-color: #fff;
    padding: 28px 30px;
    width: 35%;
    margin: 0 auto;
    outline: 1px solid black;
    outline-offset: -9px;
    transition: all .5s ease;
}

.features-section .bg-white:hover {
    outline-offset: 0px;
}

.features-section img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    object-fit: cover;
}

.features-section .description {
    color: #717371;
}

.cart {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    width: 27%;
    padding: 1rem .4rem;
    margin: 0 auto;
    margin-top: 6px;
    box-shadow: 0px 1px 12px #FFFFFF;
}

.cart .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    color: #130F40;
    font-size: 18px;
    font-weight: 600;
}

.description {
    color: #717371;
    font-size: 16px;
}

.cart img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.fa-trash {
    padding-top: 15px;
    width: 50px;
    height: 70px;
    text-align: center;
    color: #757575;
    cursor: pointer;
}
.text{
    color: #66667F;
}

@media screen and (min-width: 200px) and (max-width:290px) {
    .banner {
        height: 32.75rem;
    }

    .top-heading {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .logo {
        font-size: .875rem;
    }

    nav {
        padding: 10px;
    }

    .fa-search,
    .fa-shopping-cart,
    .fa-user {
        width: 20px;
        height: 20px;
        background: none;
    }

    .nav-links {
        column-gap: 10px;
    }
}


@media screen and (max-width: 540px) {
    .features-section {
        display: block;
    }

    .features-section .bg-white {
        width: 100%;
        margin-bottom: 15px;
    }

    .features-section .heading {
        font-size: 1rem;
    }

    .text {
        font-size: 13px;
    }

    .transparent-btn {
        font-size: .875rem;
    }

    .content {
        padding-top: 100px;
    }

    .heading {
        font-size: 1.25rem;
    }

    nav {
        padding: 10px 30px;
        column-gap: 30px;
    }

    .sub-head {
        max-width: 360px;
        font-size: 15px;
        padding-top: 10px;
    }

    .banner {
        padding-top: 50px;
        height: 32rem;
    }
}

@media screen and (min-width:545px) and (max-width: 600px) {
    .content {
        padding-top: 85px;
    }

    .fa-search,
    .fa-shopping-cart,
    .fa-user {
        font-weight: 800;
        background-color: #EEEEEE;
        color: #130F40;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .banner {
        padding-top: 20px;
        height: 25.25rem;
    }

    nav {
        padding: 10px 50px;
    }

    .features-section {
        display: block;
    }

    .features-section .bg-white {
        width: 90%;
        margin-bottom: 15px;
    }

    .sub-head {
        font-size: 13px;
        padding: 25px 0px;
    }
}

@media screen and (min-width:601px) and (max-width: 880px) {
    .features-section {
        width: 90%;
    }

    .features-section .bg-white {
        width: 70%;
    }

    .features-section .heading {
        font-size: 1rem;
    }

    .features-section .text {
        font-size: 13px;
    }

    .transparent-btn {
        font-size: .875rem;
    }

    .sub-head {
        max-width: 620px;
    }

    .heading {
        font-size: 1.75rem;
    }

    .banner {
        height: 25.25rem;
    }


}